/logs
bin
.metadata
*/bin
*/.project
*/.classpath
*/target
*/.settings
*/logs
target
.settings
.project
.DS_Store
.classpath
.idea/
*.iml

/assembly/template/dalgen/config/table-config-1.0.dtd
/assembly/template/dalgen/config/config.xml
/assembly/template/dalgen/ext/mybatis-config.xml.ftl
/.idea/
